.box{
    border: 5px solid red;
    margin-bottom: 6rem;
    width: 20rem;
    height: 4rem;
    background-color: bisque;
}

.box1{
    overflow: visible;
}
.box2{
    overflow: hidden;
}
.box3{
    overflow: scroll;
}
.box4{
    overflow: auto;
}
.box5{
    overflow: scroll;
}

.paragraf{
    width: 50rem;
}




